body.dark-mode {
    background-color: #1c1c1c;
    color: var(--dark-mode-text-color);
}

body.dark-mode text {
    fill: var(--dark-mode-text-color);
}

body.dark-mode line {
    stroke: var(--dark-mode-text-color);
}

/*
body.dark-mode rect {
    stroke: var(--dark-mode-text-color);
}
*/
body.dark-mode #search-input {
    background-color: #333333;
    color: var(--dark-mode-text-color);
    border: 2px solid rgba(255,255,255,.2)
}

body.dark-mode .block {
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 24px;
}

body.dark-mode #scatter-plot-and-name-container-1 {
    border-right: 3px solid #1c1c1c;
}

body.dark-mode #filter-bar {
    scrollbar-color: #1c1c1c transparent;
}

body.dark-mode .stats {
    background-color: #333333;
    scrollbar-color: #1c1c1c transparent;
}

body.dark-mode .stats:hover {
    background-color: #1c1c1c;
    cursor: pointer;
}

body.dark-mode #main-stats:hover {
    background-color: #333333;
    cursor: default;
}

body.dark-mode .box-plot-horizontal-line {
    stroke: #000;
}

body.dark-mode .tooltip {
    background-color: #1c1c1c;
    color: var(--dark-mode-text-color);
}

body.dark-mode .question-mark {
    filter: invert(100%);
}

body.dark-mode #dark-mode-toggle {
    filter: invert(100%);
}