html {
    scrollbar-width: none;
}
body {
    height: 100vh;
    margin: 0;
    scrollbar-width: none;
    background-color: antiquewhite;
    overflow: hidden;
}

#search-form {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#search-input {
    width: 100%;
    box-sizing: border-box; /* this is needed otherwise its width would be that of the parent PLUS padding and border size */
    border-radius: 3px;
    margin-right: 10px;
}

#scatter-plot-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.scatter-plot {
    width: 50%;
    border-top: 3px solid orangered;
}
#scatter-plot-1 {
    border-right: 3px solid orangered;
}


svg {
    height: 100%;
    width: 100%;
}

#radial-graph {
    grid-area: radial-graph;
    /*width: 50%;*/
    border-right: 3px solid green;
}

#other-graph {
    grid-area: other-graph;
    /*width: 50%;*/
}

.block {
    border: 4px solid;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
}

#filter-bar {
    grid-area: filter-bar;
    border-color: blue;
    overflow-y: scroll;
}

.filter-container {
    height: 40%;
}

#scatter-plots {
    grid-area: scatter-plots;
    border-color: orangered;
    display: flex;
    flex-direction: column;
}

#stats-bar {
    grid-area: stats-bar;
    border-color: orange;
    overflow: hidden;
    padding: 5px 0px 0px 0px;
}

#stats-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.stats {
    text-align: left;
    width: 16.66%;
    border-top: 3px solid orange;
    border-right: 3px solid orange;
    overflow: auto;
}

.stat-element {
    margin: 4px;
}

#simil-plots {
    grid-area: simil-plots;
    border-color: lightblue;
}
#graphs {
    grid-area: graphs;
    border-color: green;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    grid-template-areas: "radial-graph other-graph";
}

#container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 35% 25%;
    grid-template-areas:
        "filter-bar scatter-plots scatter-plots scatter-plots"
        "graphs graphs graphs graphs"
        "stats-bar stats-bar stats-bar stats-bar";
    width: 100%;
    height: 100%;
}